doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      title Warriors
      link(href="css/main.min.css", rel="stylesheet")
   body
      div#warriors-game.game
      script(src="js/lib.js")
      script(src="js/main.min.js")
